---
layout: page
title: Domain Portfolio
header: Domain Portfolio
group: navigation
---
{% include JB/setup %}

<table>
	<thead>
		<th>Domain</th>
		<th>Category</th>
		<th style="width:30%;text-align:center">For sale</th>
	</thead>
	<tbody>
{% for domain in site.data.Domains %}
		<tr>
			<td><a target="_blank" rel="noreferrer" href="http://{{domain.Domain}}">{{domain.Domain}}</a></td>
			<td>{{domain.Category}}</td>
			{% if domain.ForSale == 'TRUE' %}
				{% assign fsLinks = '' %}
				{% if domain.Afternic == 'TRUE' %}
					{% assign fsLinks = fsLinks | append: '<a target="_blank" href="https://www.afternic.com/domain/' | append: domain.Domain | append: '">Afternic</a>|' %}
				{% endif %}
				{% if domain.Sedo == 'TRUE' %}
					{% assign fsLinks = fsLinks | append: '<a target="_blank" href="https://sedo.com/search/details/?partnerid=321527&domain=' | append: domain.Domain | append: '">Sedo</a>|' %}
				{% endif %}
				{% assign fsLinks = fsLinks | split: '|' | join: '&nbsp;&nbsp;-&nbsp;&nbsp;' %}
				<td style="text-align:center">{{fsLinks}}</td>
			{% else %}
			<td style="text-align:center">NO</td>
			{% endif %}
		</tr>
{% endfor %}
	</tbody>
</table>
<table id="topDomains" style="display:none">
	<thead>
		<th>Domain</th>
		<th style="width:30%;text-align:center">Price</th>
	</thead>
	<tbody>
	</tbody>
</table>
<script type="text/html" id="topDomainsTmpl">
	<tr>
		<td><a data-href="link" data-content="domain" target="_blank"></a></td>
		<td style="text-align:center"><a data-href="link" data-content="price" target="_blank">Sedo</a></td>
	</tr>
</script>
<script type="text/javascript">
	$(function() {
		$.getJSON("https://query.yahooapis.com/v1/public/yql?callback=?", {
			q: "select * from csv where url='https://sedo.com/txt/topdomains_us.txt'",
			format: "json"
		},
		function (data) {
			var rows = data.query.results.row, newRows = [];
			for (var i = 0; i < rows.length; i++) {
				var cols = rows[i].col0.split('~'), domain = cols[0], price = cols[1];
				var row = {
					domain: domain,
					link: "https://sedo.com/search/details/?partnerid=321527&domain=" + domain,
					price: price
				};
				newRows.push(row);
			}
			console.log($("#topDomains tbody"));
			$("#topDomains tbody").loadTemplate($("#topDomainsTmpl"), newRows).parent().slideDown("fast");
		});
	});
</script>
<script type="text/javascript">
	var _sedoq = _sedoq || {};
	_sedoq.partnerid = '321527';
	_sedoq.locale = 'en-us';

	(function () {
		var s = document.createElement('script');
		s.type = 'text/javascript';
		s.async = true;
		s.src = '//sedo.com/resources/js/plugins/widget.search.get.js';
		var f = document.getElementsByTagName('script')[0];
		f.parentNode.insertBefore(s, f);
	})();
</script>
<div id="sedo-widget-search"></div>