---
layout: page
title: Domain Portfolio
header: Domain Portfolio
group: navigation
---
{% include JB/setup %}

<table>
	<thead>
		<th>Domain</th>
		<th>For sale</th>
	</thead>
	<tbody>
{% for domain in site.data.Domains %}
		<tr>
			<td><a target="_blank" rel="noreferrer" href="http://{{domain.Domain}}">{{domain.Domain}}</a></td>
			{% if domain.ForSale == 'true' %}
				{% assign fsLinks = '' %}
				{% if domain.Afternic == 'true' %}
					{% assign fsLinks = fsLinks | append: '<a target="_blank" href="https://www.afternic.com/domain/' | append: domain.Domain | append: '">Afternic</a>|' %}
				{% endif %}
				{% if domain.Sedo == 'true' %}
					{% assign fsLinks = fsLinks | append: '<a target="_blank" href="https://sedo.com/search/details/?domain=' | append: domain.Domain | append: '">Sedo</a>|' %}
				{% endif %}
				{% assign fsLinks = fsLinks | split: '|' | join: '&nbsp;&nbsp;-&nbsp;&nbsp;' %}
				<td>{{fsLinks}}</td>
			{% else %}
			<td>NO</td>
			{% endif %}
		</tr>
{% endfor %}
	</tbody>
</table>

